@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan agar background halaman langsung gelap sesuai tema */
body {
  background-color: #020210;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; /* Opsional: font standar */
}